[Unit]
Description=Kibana
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=kibana
Group=kibana
Environment=NODE_ENV=production
Environment=CONFIG_PATH=/etc/kibana/kibana.yml
EnvironmentFile=/etc/conf.d/kibana
WorkingDirectory=/opt/kibana/
ExecStart=/opt/kibana/bin/kibana
StandardOutput=syslog
StandardError=syslog
SyslogFacility=local7
SyslogLevel=notice
SyslogIdentifier=kibana
Restart=on-failure

[Install]
WantedBy=multi-user.target
