# Copyright 2010-2013 Wulf C. Krueger <philantrop@exherbo.org>
# Distributed under the terms of the GNU General Public License v2

[Unit]
Description=nmbd server
Before=samba.target

[Service]
Environment=TMP=""
Environment=TMPDIR=""
ExecStart=/usr/sbin/nmbd -D
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/samba/nmbd.pid

[Install]
WantedBy=multi-user.target
