# Copyright 2010-2013 Wulf C. Krueger <philantrop@exherbo.org>
# Distributed under the terms of the GNU General Public License v2

[Unit]
Description=smbd server
Before=samba.target

[Service]
Environment=TMP=""
ExecStart=/usr/sbin/smbd -D
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/samba/smbd.pid

[Install]
WantedBy=multi-user.target
