#
# filebeat systemd service
#

[Unit]
Description=Filebeat
Documentation=https://www.elastic.co/guide
Wants=network.target
After=network.target

[Service]
Environment=FB_HOME=/var/lib/filebeat
Environment=CONF_DIR=/etc/filebeat
Environment=DATA_DIR=/var/lib/filebeat
Environment=LOG_DIR=/var/log/filebeat
Environment=PID_DIR=/run/filebeat
EnvironmentFile=-/etc/conf.d/filebeat

User=filebeat
Group=filebeat

Type=simple
Restart=always
WorkingDirectory=/var/lib/filebeat
ExecStart=/usr/bin/filebeat \
			-c /etc/filebeat/filebeat.yml \
			-path.config=${CONF_DIR} \
			-path.data=${DATA_DIR} \
			-path.home=${FB_HOME} \
			-path.logs=${LOG_DIR}

[Install]
WantedBy=multi-user.target
